@media (max-width:400px){
body{
    max-width: 100%;
    margin: 0;
    padding: 0;
}


main{
    max-width: 100%;
    margin: 0;
    padding: 0.5rem;  
}
.welcome video{
    width:300px; 
    height:200px;
}

.images{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    border-radius:12px;
    
}

.images img{
    height: 90px;
    width: 90px;
}

.css-image{
    height: 90px;
    width: 60px;
}

.js-image{
    height: 90px;
    width: 250px;
}

}