@media (max-width: 400px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

   header{
    padding: 0rem 0.7rem;
    max-width: 100%;
  }

  main{
    font-size: 0.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }

  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home .home-images{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;
  padding:0.5rem 0.4rem;
  }

  .contacts {
    padding: 1.5rem;
  }
}



@media(max-width:600px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 0.7rem;
    max-width: 100%;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home .home-images{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;
  padding:0.5rem 0.4rem;
  }

  .contacts {
    padding: 1.5rem;
  }

  .contact-form {
    padding: 1rem;
  }
}

@media(max-width:800px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 1.6rem;
  }

  main{
    padding: 1.5rem;
    font-size: 1rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home .home-images{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;
  padding:0.5rem 0.4rem;
  }

  .contacts {
    padding: 1.5rem;
  }

  .contact-form {
    padding: 1rem;
  }
}

@media(max-width:1012px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 1.6rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home .home-images{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;
  padding:0.5rem 0.4rem;
  }

  .contacts {
    padding: 1.5rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }
}

@media(max-width:1200px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
  padding: 4rem;
    padding: 0rem 1.6rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home .home-images{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;
  padding:0.5rem 0.4rem;
  }

  .contacts {
    padding: 1.5rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }
}

