@media (max-width: 400px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

   header{
    padding: 0rem 0.3rem;
    max-width: 100%;
  }

  main{
    font-size: 0.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }

  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-link a{
    font-size: 1rem;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 300px;
  height: 200px;
}


  .contacts {
    padding: 1.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}



@media(max-width:600px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 0.3rem;
    max-width: 100%;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 2rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

    border-radius:12px;
  width: 300px;
  height: 200px;
}

  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 0.9rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(max-width:800px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 1.6rem;
  }

  main{
    padding: 0.4rem;
    font-size: 1rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 2rem;
  }

    border-radius:12px;
  width: 300px;
  height: 200px;
}
  
  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 1rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(max-width:1012px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 1rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 2.5rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 1.5rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(max-width:1200px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
  padding: 4rem;
    padding: 0rem 1.2rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 1.8rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}


