@media (max-width: 400px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

   header{
    padding: 0rem 0.2rem;
    max-width: 100%;
  }

  main{
    font-size: 0.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 0.8rem;
  }

   .home ,
  .About ,
  .projects {
    font-size: 0.8rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-images img{
    width: 200px;
    height: 200px;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 200px;
  height: 200px;
}

.main-port img{
  height: 300px;
  width: 250px;
  margin-bottom: 1.5rem;
}


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-link a{
    font-size: 0.5rem;
  }


  .contacts {
    padding: 1.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}



@media(max-width:600px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }


  header{
    padding: 0rem 0.2rem;
    max-width: 100%;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 0.2rem;
  }

  .home ,
  .About ,
  .projects {
    font-size: 0.8rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-images img{
    width: 300px;
    height: 300px;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 200px;
  height: 200px;
}

.main-port img{
  height: 300px;
  width: 250px;
  margin-bottom: 1.5rem;
}


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 0.4rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(max-width:800px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 1.6rem;
  }

  main{
    padding: 0.4rem;
    font-size: 1rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 0.7rem;
  }

  .home ,
  .About ,
  .projects {
    font-size: 1rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-images img{
    width: 300px;
    height: 300px;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 200px;
  height: 200px;
}

.main-port img{
  height: 300px;
  width: 350px;
  margin-bottom: 1.5rem;
}

  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 0.8rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(max-width:1012px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
    padding: 0rem 1rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 1rem;
  }

  .trademark-logo img{
  width: 200px;
  height: 200px;
  padding: 5px;
  border: solid rgb(41, 173, 129) 3px;
  border-radius: 50%;
}

  .home ,
  .About ,
  .projects {
    font-size: 1.4rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-images img{
    width: 300px;
    height: 300px;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 500px;
  height: 350px;
}

.main-port img{
  height: 300px;
  width: 350px;
  margin-bottom: 1.5rem;
}

  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 1.8rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(max-width:1200px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
  padding: 4rem;
    padding: 0rem 0.5rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 3rem;
  }

  .home ,
  .About ,
  .projects {
    font-size: 1.4rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-images img{
    width: 300px;
    height: 300px;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 500px;
  height: 350px;
}

.main-port img{
  height: 300px;
  width: 350px;
  margin-bottom: 1.5rem;
}


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 1.5rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}

@media(min-width:1201px ){
   body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header{
  padding: 4rem;
    padding: 0rem 1.2rem;
  }

  main{
    font-size: 1.3rem;
  }

  .home h1,
  .About h1,
  .projects h1,
  .contacts h1 {
    font-size: 3.5rem;
  }

  .home ,
  .About ,
  .projects {
    font-size: 1.4rem;
  }


  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }

  .home-images img{
    width: 300px;
    height: 300px;
  }

  .About .About-vid video{
  border-radius:12px;
  width: 500px;
  height: 350px;
}

.main-port img{
  height: 300px;
  width: 350px;
  margin-bottom: 1.5rem;
}

  .home .home-images img,
  .main-port img,
  .port-link img,
  .port-link-two img,
  .your-brand img {
    max-width: 100%; 
  }


  .contacts {
    padding: 1.5rem;
  }

  .home-link a{
    font-size: 1.8rem;
  }

  .contact-form {
    padding: 1rem;
    font-size: 2.5rem;
  }

  .contacts p{
  font-size: 1rem;
  }
}


